.outer {

}
p {
    font-style: oblique;

    font-weight : 600;
    text-decoration: dashed overline 5px wavy wheat;
    /*text-transform은 대문자 소문자 바꿔줄 수 있느 속성*/
    text-transform: capitalize;
}

div {
    font-size: 18px;
    font-size : 1.2rem;
    font-size : 120%;

}

p:last-child {

    text-shadow: 3px 3px 2px lightblue;
    text-shadow:2px -3px 2px lightgray;
    text-shadow : 0 1px red, 0 -1px red, -1px 0 red;
}

/*Chrome 개발자도구 열기*/
/*윈도우 : 컨트롤 + 쉬프트 + 아이키*/
/*맥 : 커맨드 + 알트 + 아이*/

/*text-decoration : 여러개의 속성들이 복수로 와도 됨. */
/*text-transform : 알파벳의 대소문자 지정으로 uppercase(모든 문자들을 대문자로 바꿔주기), capitalize(맨 앞문자만 대문자로 바꿔주는 것)*/

p:last-child {

}