ul li{
    border-bottom :1px solid salmon;
}

ul>li:last-child {
    border-bottom:0;
}

ul > li:not(:last-child){
    border-top : 1px solid black;
}
/*동그라미 만들기*/
div {
    width : 200px;
    height:200px;
    border:5px solid violet;
    border-radius: 50%;
}

/*그림자는 snooth shadow라는 사이트에서 복붙해오자*/